

<div class="wp-block-button wp-block-button-beso">
    <a 
    class="wp-block-button__link wp-element-button wp-block-button-beso-link" 
    href="https://qoqu.nl/plan-je-strategiegesprek/" 
    style="border-radius: 8px; box-sizing: border-box; ">
        <span class='beso-Hidden'>
            Plan je strategiegesprek
        </span>
        <span class='beso-Hidden2'>
            bezoek plannen
        </span>
    </a>
</div>

<style>

    .beso-Hidden {
        display: block;
    }
    .beso-Hidden2 {
        display: none;
    }
    
    @media (max-width: 900px) {

        .wp-block-button-beso {
            position: absolute; 
            top: 45px; 
            right: 150px; 
            max-width: 150px; 
            height: 80px;
        }

        .wp-block-button-beso2 {
            border-radius: 8px; 
            font-size: 14px; 
            width: 100%; 
            height: 100%;
        }

    }

    @media (max-width: 767px) {
        .wp-block-button-beso {
            right: 75px; 
            max-width: 115px; 
        }
    }

    @media (max-width: 1170px) {
        .button, .wp-block-button .wp-block-button__link {
            padding: 4px 4px;
        }
        .beso-Hidden {
            display: none;
        }
        .beso-Hidden2 {
            display: block;
        }
    }
</style>




<!-- CUSTOM CSS -->
<style>


    /* GeneratePress Site CSS */ /* GeneratePress Site CSS */ 
    /** Sticky navigation padding **/
    @media (min-width: 769px) {
        .main-navigation.navigation-stick .inside-navigation {
            padding: 10px 0;
        }
    }
    
    /** Light box shadow **/
    .light-box-shadow {
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.2);
    }
    
    /* Buttons */
    .form-submit .submit {
        padding: 16px 34px;
        border-radius: 9999px;
    }
    /* End GeneratePress Site CSS */ /* End GeneratePress Site CSS */
    
    
    
    .gpb-monochrome-section-blog-posts {
        margin-top: 12px;
        padding-top: 20px;
    }
    .generate-columns-container:not(.masonry-container) {
        margin-top: 25px;
        padding-top: 20px;
    }
    
    .post {
        margin-top: 25px;
        padding-top: 20px;
    }
    
    
    img {
        border-radius: 8px !important;
    }
    
    .gb-profile-image-wrap {
        border-radius: 8px;
    }
    
    .gb-block-cta {
        border-radius: 8px !important;
    }
    
    
    
    #cmplz-document {
                margin: 30px;
                padding: 30px;
                max-width: 100%;
            }
    
    .wp-block-button__link:hover {
        color: white;
    }
    
    #menu-item-1561 a {
        width: 90%;
        text-align: center;
            margin: 4px 6px;
            font-style: bolder;
        font-size: 13px !important;
        padding: 2px 12px; /* top and bottom padding 6px, right and left padding 4px */
        background-color: #fcba04;
        color: black; /* font color */
        border-radius: 25px;
    }
    
    @media (max-width: 769px) {
        
            .gpb-monochrome-section-blog-posts {
                margin-top: 0;
                padding-top: 0;
            }
            .generate-columns-container:not(.masonry-container) {
                margin-top: 0;
                padding-top: 0;
            }
            
            .post {
                margin-top: 0;
                padding-top: 0;
            }
        
        #cmplz-document {
                margin: 0;
                padding: 0;
            }
        
        .gb-layout-column-wrap {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    
    @media (max-width: 1240px) {
        .gb-layout-column-wrap {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    
    
        @media (max-width: 900px) {
            .wp-block-button-beso {
                display: none !important;
            }
    
        }
    
                
    @media (max-width: 767px){
        
        /* On blog page, last child was to close to the bottom, so it add there margin from footer */
        .one-container .site-main>:last-child, .separate-containers .site-main>:last-child {
            margin-bottom: 60px;	
        }
        
        /* Menu padding bottom to make smaller */
        .gb-container-96e6c234 {
        padding: 70px 30px;
        }
        
        /* leads-voor-zonnepanelen page, cta buttons did not had margin bottom,so I add to be seperated from next section */
        .entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull {
        margin-bottom: 50px;
    }
        
        /* Blog page had a problem about padding top */
        .generate-columns-container:not(.masonry-container) {
        margin-top: 0;
        padding-top: 50px;
    }
        
        
    }
                
    
    
    
    
    #post-1548{
        margin-top: 60px;
        margin-bottom: 250px;
    }
    
    
    
    
    
    </style>
    
    
    